/* header */
#header {
    overflow: hidden;
}

#logo {
    max-height: 300px;
}

#valkyrie-work-carousel {
    max-height: 300px;
}

.consultancy-banner,
.cad-modelling-banner,
.cad-drawing-banner,
.three-d-printing-banner,
.three-d-scanning-banner,
.three-d-simulation-banner {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url('../images/placeholder-wide.png');
    height: 300px;
}

.banner-text {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 138px;
    font-size: 24px;
    color: #fff;
    text-shadow: -2px -3px 14px rgba(150, 150, 150, 1);
}

/* Navigation */
#sticky-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;             /* when top is 0 for the navbar, stick */
    z-index: 1000;      /* so rest of page scrolls beneath */
}

.navbar {
    border: 1px solid rgba(15,5,158, 0.25);
}

.nav-link {
    border: none;   /* to align normal nav items and the split nav drop-downs */
}

/* section headers */
.section-header {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.section-header::before {
    content: "";
    position: absolute;
    width: 140px;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
    height: 1px;
    background: #ebebeb;
}

.section-header::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -11px;
    left: 50%;
    margin-left: -12px;
    border: 5px solid #fff;
    border-radius: 20px;
    background: #45aed6;
}

/* capability icons on home page */
.capability-title {
    margin-top: 30px;
    margin-bottom: 16px;
}

/* our process section */
#our-process {
    padding: 50px 0;
    background: url('../images/our-process-bg.jpg') no-repeat 0 0;
    background-size: cover;
    color: #fff;
}

.process-circle {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 90px;
    border: 2px solid #45aed6;
    border-radius: 100px;
    position: relative;
    margin-bottom: 10px;
}

.process-circle span {
    border: 2px solid #45aed6;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 20px;
    top: -12px;
    color: #64686d;
}

/* Footer */
#footer {
    border-top: 1px solid rgba(15,5,158, 0.25);
    font-size: smaller;
}

#footer-menu {
    display: inline-flex;
}

#footer-menu li {
    border: none;
}

#footer h6 {
    display: inline-block;
    color: #000;
}

#footer {
    color: #999;
}

#footer ul li a {
    color: #999;
}

.social-icons li {
    display: inline!important;
}

.fa-facebook-square,
.fa-google {
    transition: color 0.5s ease;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-linkedin {
    color: #0072b1;
}

.fa-instagram {
    color: #f00075;
}

/* services page */
.service-section {
    padding: 75px 0;
    border-top: 1px solid rgba(15,5,158, 0.25);
}

.service-section-alt {
    padding: 75px 0;
    background-color: #f8f8ff;
    border-top: 1px solid rgba(15,5,158, 0.25);
}

.know-more {
    width: 100px;
}

/* our work page */
.grid-item {
    margin: 1em 0;
}

.project-highlights {
    list-style: none;
    padding-left: 0;
}

.project-section {
    padding-top: 2em;
}


/* information pages */
.service-title {
    position: relative;
    top: 50%;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
}

#printing-service-header {
    height: 50vh;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgb(12, 16, 28) 65%,
        rgba(0, 0, 0) 66%),
        url('../images/our-services/3d-printing.jpg');

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#modelling-service-header {
    height: 50vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(12, 16, 28) 65%,
            rgba(0, 0, 0) 66%),
        url('../images/our-services/3d-modelling.jpg');

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#scanning-service-header {
    height: 50vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(12, 16, 28) 65%,
            rgba(0, 0, 0) 66%),
        url('../images/our-services/3d-scanning.jpg');

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#simulation-service-header {
    height: 50vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(12, 16, 28) 65%,
            rgba(0, 0, 0) 66%),
        url('../images/our-services/simulation-and-animation.jpg');

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#drawings-service-header {
    height: 50vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(12, 16, 28) 65%,
            rgba(0, 0, 0) 66%),
        url('../images/our-services/plans-and-drawings.jpg');

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#consultancy-services-header {
    height: 50vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(12, 16, 28) 65%,
            rgba(0, 0, 0) 66%),
        url('../images/our-services/engineering-design.jpg');

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* about us */
#contact-us-list {
    list-style: none;
}

iframe {
    width: 100%;
    height: 450px;
}


/* news timeline */
.single-blog{
    padding-bottom: 30px;
}
  
.single-blog .post-bottom{
    border-bottom: 1px solid #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.single-blog .post-overlay span{
    left: 0;
    top: 0;
    margin-left: 0;
    width: 94px;
    height: 140px;
    background: url("../images/news/blog-arrow.png");
    -webkit-animation: fadeInLeft 400ms;
    animation: fadeInLeft 400ms;
}
  
.single-blog .post-overlay span a{
    margin-left: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 18px;
    position: absolute;
    top: 50px;
}
  
.single-blog .post-overlay span a small{
    font-size: 16px;
    font-weight: 300;
    margin-left: 5px;
}
  
.single-blog .post-overlay span:before{
    border-color: transparent;
    border-width: 0;
}

.single-blog.timeline {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-bottom: 0;
    position: relative;
    padding-bottom: 0;
}

.timeline .post-content {
    padding: 20px 20px 0;
}

.post-thumb{
    margin: -1px -1px 0;
    position: relative;
    overflow: hidden;
}
  
.timeline .post-thumb img {
    width: 100%;
}

.post-overlay{
    position: absolute;
    top: 50%;
    display: none;
    width: 94px;
    height: 140px;
    margin-top: -70px;
    overflow: hidden;
}
  
.post-overlay span{
    position: absolute;
    left: 50%;
    bottom: 0; 
    margin-left: -60px;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
    z-index: 9;
}
  
  
.post-overlay span:before{
    position: absolute;
    bottom: 0;
    border-style: solid;
    border-width: 60px;
    content: "";
    border-color: transparent transparent #0884d5 transparent;
    z-index: -1;
    cursor: initial;
}
  
.post-overlay span a{
    font-size: 30px;
    color: #fff;
    background: transparent;
    padding: 0; 
    margin-left: 50px;
}

.single-blog:hover .post-overlay{
    display: block;
    -webkit-animation: fadeIn 300ms;
    animation: fadeIn 300ms;
}

.timeline-divider{
    position: relative;
    padding-top: 50px;
}
  
.timeline-divider:before{
    position: absolute;
    top: 0;
    content: "";
    border-left-style: solid;
    border-left-width: 1px;
    height: 100%;
    border-left-color: #0099AE;
    left: 50%;
    margin-left: -2px;
}
  
.timeline-blog .col-sm-6.padding-top{
    padding-top: 70px;
}
  
.post-content{
    padding: 20px 0;
}
  
.timeline-date .btn-common{
    font-size: 18px;
    color: #4a4a4a;
    font-weight: 300;
    border-radius: 0;
    padding: 17px 40px;
    border: 1px solid #0099ae;
}
  
.arrow-right{
    position: relative;
}
  
.arrow-right:after{
    position: absolute;
    right: 1px;
    content: "";
    top: 15px;
    background: url("../images/news/left.png");
    width: 43px;
    height: 54px;
}
  
.arrow-left{
    position: relative;
}
  
.arrow-left:before{
    position: absolute;
    left: -2px;
    content: "";
    top: 86px;
    background: url("../images/news/right.png");
    width: 43px;
    height: 54px;
}
  
.post-title {
    margin-top: 0;
}
  
.post-title a,
.comments-number a{
    color: #686868;
}
  
.post-content .post-author{
    margin-top: 0;
}
  
.post-content  .post-author a{
    font-weight: 300;
    font-size: 14px;
    color: #0099AE;
}
  
a.read-more{
    color: #0099AE;
    font-weight: 300;
}
  
a.read-more:hover{
    color: #01707F
}

.post-bottom{
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
    margin-top: 20px;
    margin: 20px -20px 0;
    padding: 20px 20px 0;
}

.timeline-date .btn-common{
    font-size: 18px;
    color: #4a4a4a;
    font-weight: 300;
    border-radius: 0;
    padding: 17px 40px;
}

.overflow{
    overflow: hidden;
}

.padding-top{
    padding-top: 90px;
}

.padding-bottom{
    padding-bottom: 65px;
}

.padding-right{
    padding-right: 80px;
}

.padding-left{
    padding-left: 80px;
}

/* news ticker */
#news-ticker {
    position: absolute;
    left: 150px;
    /* top: 10px; */
    width: 45%;
    height: 30px;
    overflow: hidden;
}

#news-ticker > ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#news-ticker > ul[data-length="5"] {
    top: 30px;
    animation-name: news-5;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 3s;
}

#news-ticker > ul:hover {
    animation-play-state: paused;
}

.news {
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.news__date {
    /* color: #88c1ff; */
    margin-right: 10px;
}

.news__title {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes news-5 {
    0% {
      top: 30px;
      visibility: visible;
    }
    5% {
      top: 0;
    }
    15% {
      top: 0;
    }
    20% {
      top: -30px;
    }
    35% {
      top: -30px;
    }
    40% {
      top: -60px;
    }
    55% {
      top: -60px;
    }
    60% {
      top: -90px;
    }
    75% {
      top: -90px;
    }
    80% {
      top: -120px;
    }
    95% {
      top: -120px;
    }
    99% {
      top: -150px;
      visibility: hidden;
    }
    100% {
      top: 30px;
      visibility: hidden;
    }
}