/* header */
#header {
    overflow: hidden;
}

#logo {
    max-height: 300px;
}

#valkyrie-work-carousel {
    max-height: 300px;
}

/* Navigation */
#sticky-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;             /* when top is 0 for the navbar, stick */
    z-index: 1000;      /* so rest of page scrolls beneath */
}

.navbar {
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.nav-link {
    border: none;   /* to align normal nav items and the split nav drop-downs */
}

/* section headers */
.section-header {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.section-header::before {
    content: "";
    position: absolute;
    width: 140px;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
    height: 1px;
    background: #ebebeb;
}

.section-header::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -11px;
    left: 50%;
    margin-left: -12px;
    border: 5px solid #fff;
    border-radius: 20px;
    background: #45aed6;
}

/* capability icons on home page */
.capability-title {
    margin-top: 30px;
    margin-bottom: 5px;
}

/* our process section */
#our-process {
    padding: 50px 0;
    background: url('../images/our-process-bg.jpg') no-repeat 0 0;
    background-size: cover;
    color: #fff;
}

.process-circle {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 90px;
    border: 2px solid #45aed6;
    border-radius: 100px;
    position: relative;
    margin-bottom: 10px;
}

.process-circle span {
    border: 2px solid #45aed6;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 20px;
    top: -12px;
    color: #64686d;
}

/* Footer */
#footer {
    border-top: 1px solid #999;
    font-size: smaller;
}

#footer-menu {
    display: inline-flex;
}

#footer-menu li {
    border: none;
}

#footer h6 {
    display: inline-block;
    color: #000;
}

#footer {
    color: #999;
}

#footer ul li a {
    color: #999;
}

.social-icons li {
    display: inline!important;
}

.fa-facebook-square,
.fa-google {
    transition: color 0.5s ease;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-google:hover {
    color: #DB4437;
}

/* services page */
.service-section {
    padding: 75px 0;
}

.service-section-alt {
    padding: 75px 0;
    background-color: #f7f7f7;
}

/* our work page */
.grid-item {
    margin: 1em 0;
}

.project-highlights {
    list-style: none;
    padding-left: 0;
}

.project-section {
    padding-top: 2em;
}


/* information pages */
.service-title {
    position: relative;
    top: 50%;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
}

#printing-service-header {
    height: 50vh;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgb(12, 16, 28) 65%,
        rgba(0, 0, 0) 66%),
        url('../images/our-services/3d-printing.jpg');

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#modelling-service-header {
    height: 50vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(12, 16, 28) 65%,
            rgba(0, 0, 0) 66%),
        url('../images/our-services/3d-modelling.jpg');

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#scanning-service-header {
    height: 50vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(12, 16, 28) 65%,
            rgba(0, 0, 0) 66%),
        url('../images/our-services/3d-scanning.jpg');

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#simulation-service-header {
    height: 50vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(12, 16, 28) 65%,
            rgba(0, 0, 0) 66%),
        url('../images/our-services/simulation-and-animation.jpg');

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#drawings-service-header {
    height: 50vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(12, 16, 28) 65%,
            rgba(0, 0, 0) 66%),
        url('../images/our-services/plans-and-drawings.jpg');

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#consultancy-services-header {
    height: 50vh;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgb(12, 16, 28) 65%,
            rgba(0, 0, 0) 66%),
        url('../images/our-services/engineering-design.jpg');

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}